# Ignore all logs
*.log
*/*.log
.minecraft/logs
.minecraft/crash-reports

# Ignore usercache data
.minecraft/user*cache.json
.minecraft/journeymap
.minecraft/TombManyGraves
.minecraft/tv-cache

# Ignore user minecraft/optifine/shader settings
.minecraft/options*.txt

# Ignore mixin output
.minecraft/.mixin.out

# Ignore user saves
.minecraft/saves

# JEI settings/bookmarks
.minecraft/config/jei/

.minecraft/resourcepacks

natives/