# Ignore all logs
*.log
*/*.log
.minecraft/logs
.minecraft/crash-reports

# Ignore usercache data
.minecraft/user*cache.json
.minecraft/journeymap
.minecraft/TombManyGraves
.minecraft/tv-cache

# Ignore mixin output
.minecraft/.mixin.out

# Ignore user saves
.minecraft/saves

.minecraft/config/jei/bookmarks.ini

.minecraft/resourcepacks